<div class="body" *ngIf="verForm">
    <h1>Formulario Login</h1>
    <form [formGroup]="formularioLogin" (ngSubmit)="sendForm()"> 

        <mat-form-field appearance="outline">
            <mat-label>Usuario</mat-label>
            <input type="text" 
            placeholder="Usuario"
            formControlName="usuarioo" matInput>
            <mat-error>El campo usuario no es valido</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input type="password" 
            placeholder="Contraseña"
            formControlName="contrasenaa" matInput>
            <mat-error>El campo contraseña no es valido</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Login</button>
        <button mat-raised-button color="secondary" (click)="resetForm()" type="button">Limpiar login</button>
    </form>
</div>
<div class="body" *ngIf="!verForm">
    <h1>Confirmar datos formulario</h1>
    <mat-list>
        <mat-list-item>Usuario: {{ registro.usuarioo }}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Contraseña: {{ registro.contrasenaa }}</mat-list-item>
      </mat-list>
      <button mat-raised-button color="primary" (click)="sendData()">Confirmar</button>
      <button mat-raised-button color="secondary" (click)="editar()">Editar</button>
</div>
