<div class='principal'>
    <h2>Películas recientes</h2>
    <mat-progress-bar mode="indeterminate" *ngIf="peliculasData.length === 0"></mat-progress-bar>
    <div class="peliculas">
            <div class="titulos" *ngFor="let peliculas of peliculasData">
                <b>{{peliculas.title}}</b>
                <button (click)="sendParams(peliculas.id, peliculas.title)">
                    <img class='image' src="https://image.tmdb.org/t/p/w220_and_h330_face/{{ peliculas.poster_path }}">
                </button>
            </div>
        <!-- </button> -->
    </div>
    <h2>Series recientes</h2>
    <mat-progress-bar mode="indeterminate" *ngIf="seriesData.length === 0"></mat-progress-bar>
    <div class="series">
        <div class="titulos2" *ngFor="let series of seriesData">
            <b>{{series.name}}</b>
            <button (click)="sendParams2(series.id, series.name)">
                <img class='image' src="https://image.tmdb.org/t/p/w220_and_h330_face/{{ series.poster_path }}">
            </button>
        </div>
    </div>
</div>
