<div class='principal'>
    <h2>Películas recientes</h2>
    <mat-progress-bar mode="indeterminate" *ngIf="!peliculasData"></mat-progress-bar>
    <div class="peliculas" *ngIf="peliculasData">
            <div class="titulos" *ngFor="let peliculas of peliculasData">
                <b>{{peliculas.title}}</b>
                <button mat-button (click)="sendParams(peliculas.id, peliculas.title)">
                    <img class='image' src="https://image.tmdb.org/t/p/w220_and_h330_face/{{ peliculas.poster_path }}">
                </button>
            </div>
        <!-- </button> -->
    </div>
    <h2>Series recientes</h2>
    <mat-progress-bar mode="indeterminate" *ngIf="!seriesData"></mat-progress-bar>
    <div class="series" *ngIf="seriesData">
        <div class="titulos2" *ngFor="let series of seriesData">
            <b>{{series.name}}</b>
            <button mat-button (click)="sendParams2(series.id, series.name)">
                <img class='image' src="https://image.tmdb.org/t/p/w220_and_h330_face/{{ series.poster_path }}">
                <!--<img class='image' src="../../../assets/images/avatar_vacio_w138_h175.jpg">-->
            </button>
        </div>
    </div>
</div>
